{% extends 'base.html.twig' %}

{% block title %}GAC Travel{% endblock %}

{% block body %}

{% set ShopResID = content.ShoppingResponseID %}
{% set OffGroup = content.OffersGroup %}
{% set DList = content.DataLists %}

<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="container">
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">{{ DList.FlightList.Flight|length }} oferta disponible</h1>
    </div>
</div>

<div class="container">
    <!-- Oferta. -->
    <div class="card row shadow-sm mb-5">
        <div class="card-body col-10">
            <!-- Ruta. -->
            {% for Flight in DList.FlightList.Flight %}
            <div class="row route">
                <div class="col option">
                    <ul class="list-group">
                        <li class="list-group-item fs-5 option">
                            <strong>ALC</strong> - <strong>BCN</strong>
                          {% if DList.FlightSegmentList.FlightSegment|length == '2' %}
                                <span class="badge bg-success">DIRECTO</span>
                            {% else %}
                                <span class="badge bg-warning">1 ESCALA</span>
                            {% endif %}
                            <i class="bi bi-clock"></i> {{ Flight.Journey.Time }}
                        </li>
                        <li class="list-group-item">
                            <!-- Segmento. -->
                            <ul class="list-inline">
                                {% for FSegment in DList.FlightSegmentList.FlightSegment %}
                                <li class="list-inline-item col-3">{{ FSegment.Departure.AirportCode }} {{ FSegment.Departure.Date }} {{ FSegment.Departure.Time }}</li>
                                <li class="list-inline-item col-3">{{ FSegment.Arrival.AirportCode }} {{ FSegment.Arrival.Date }} {{ FSegment.Arrival.Time }}</li>
                                <li class="list-inline-item col-2"><i class="bi bi-clock"></i> {{ FSegment.FlightDetail.FlightDuration.Value }}</li>
                                <li class="list-inline-item col-2">{{ FSegment.MarketingCarrier.AirlineID }}{{ FSegment.MarketingCarrier.FlightNumber }}</li>
                                {% endfor %}
                            </ul>
                            <!-- /Segmento. -->
                        </li>
                    </ul>
                </div>
            </div>
            {% endfor %}
            <!-- /Ruta. -->
        </div>
        <!-- Total tarifas y tiempo límite emisión. -->
        <div class="card-body col-2 text-center">
            <h1 class="card-title pricing-card-title">{{ OffGroup.AirlineOffers.Offer.TotalPrice.SimpleCurrencyPrice }} EUR</h1>
            <span class="mt-2 d-block"><i class="bi bi-clock"></i>{{ OffGroup.AirlineOffers.Offer.PaymentTimeLimitDateTime }}</span>
        </div>
        <!-- /Total tarifas y tiempo límite emisión. -->
        <!-- Desglose tarifa por PAX. -->
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">PTC</th>
                        <th scope="col" class="text-center">Base</th>
                        <th scope="col" class="text-center">Taxes</th>
                        <th scope="col" class="text-center">ALC-BCN</th>
                        <th scope="col" class="text-center">BCN-LGW</th>
                        <th scope="col" class="text-center">LGW-BCN</th>
                        <th scope="col" class="text-center">BCN-ALC</th>
                    </tr>
                </thead>
                <tbody class="pax-fare-data">
                    <!-- PAX. -->
                    {% for DL in DList.PassengerList.Passenger %}
                    <tr>
                        <td>{{ DL.PTC }}</td>
                        {% for Price in OffGroup.AirlineOffers.Offer.OfferItem.FareDetail.Price %}
                        <td class="text-center">{{ Price.BaseAmount }}EUR</td>
                        <td class="text-center">{{ Price.Taxes.Total }}EUR</td>
                        {% endfor %}
                        <!-- Equipaje y código clase por segmento.-->
{#                        {% for  %}#}
                        <td scope="row" class="text-center">
                            <span class="badge bg-success">1PC</span>
                            <small><mark>Y</mark></small>
                        </td>
                        <td scope="row" class="text-center">
                            <span class="badge bg-danger">0PC</span>
                            <small><mark>X</mark></small>
                        </td>
                        <td scope="row" class="text-center">
                            <span class="badge bg-success">1PC</span>
                            <small><mark>Y</mark></small>
                        </td>
                        <td scope="row" class="text-center">
                            <span class="badge bg-success">1PC</span>
                            <small><mark>Y</mark></small>
                        </td>
                        <!-- /Equipaje y código clase por segmento.-->
                    </tr>
                    {% endfor %}
                    <!-- /PAX. -->
                </tbody>
            </table>
        </div>
        <!-- /Desglose tarifa por PAX. -->
    </div>
    <!-- /Oferta. -->
</div>
{% endblock %}
